.banner{
	background-image: url(../../images/banner.jpg),linear-gradient(-220deg,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 60%);

	color:white;
	background-size: cover;
	background-position: center;
	padding: 150px 0px;
}

.banner h1{
	font-size: 200px;

}
.banner h2{
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 30px;
}
.banner a{
	font-size: 50px;
	color: #E7DEC8;
}